<nav *ngIf="isAuthorized()" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="dispComp == true" class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Components
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link dropdown-item" routerLink="department" >Department List</a>
          <a class="nav-link dropdown-item" routerLink="designation" >Designation List</a> 
          <a class="nav-link dropdown-item" routerLink="role" >Roles List</a>
          <a class="nav-link dropdown-item" routerLink="claim" >Claim List</a>
        </div>
      </li>    
      <li *ngIf="dispUser == true" class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link dropdown-item" routerLink="user" >User List</a>
        </div>
      </li>  
      <li class="nav-item">
        <a class="nav-link" routerLink="employee" >Employee List</a>
      </li>
        
     
    </ul>
    
    
     <!-- <div *ngIf="isAuthorized() == false">
      <button routerLink="register" class="btn btn-outline-primary my-2 my-sm-0 m-1 p-1" type="submit">Register</button>
      <button routerLink="login" class="btn btn-outline-success my-2 my-sm-0 m-1 p-1" type="submit">Login</button>
     </div> -->
     <div *ngIf="isAuthorized()">
      <a class="text-danger">{{this.UserName}}</a>
      <button (click)="Logout()" class="btn btn-outline-success my-2 my-sm-0 m-1 p-1" type="submit">Logout</button>
     </div>      
    
  </div>
</nav>

<router-outlet></router-outlet>
